@model ProjectManagementSoftware.Models.UseCase

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>UseCase</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UseCaseDesc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UseCaseDesc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedByEmpNum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedByEmpNum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedByEmpNum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedByEmpNum)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UseCaseID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
